@import "../utilities/variables";

/* GALERIA DE FOTOS */
.picsgalleryhtml__container {
    @include container();
    background-image: $gradient, url(../img/05-galeria-fotos/bg-galfotos/fondo-galeria-sepia.webp);
    height: auto;
    text-align: center;
    padding-top: 9vh;
    padding-bottom: 25vh;
    margin-bottom: 12vh;
    gap: 10px;
}

.picshtml__gallery {
    background-color: $color-darkPrimary;
    max-width: 100%;
    max-height: auto;
    filter: $shadow-img;

    .carousel-indicators {
        button {
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    @media (min-width: $desktop-lg) {
        max-width: 70%;
        
    }
}