@import "../utilities/variables";

/* GALERIA DE FOTOS */
.picsgalleryhtml__container {
    margin-top: -15vh;
    padding-bottom: 10vh;
}

.picshtml__gallery {
    background-color: $color-darkPrimary;
    max-width: 100%;
    max-height: auto;
    filter: $shadow-img;

    .carousel-indicators {
        button {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            color: black;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    @media (min-width: $desktop-lg) {
        max-width: 60%;
    }
}